<div class="row">
  <div class="col-md-6">
    Current balance: {{ request.user.balance }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <a href="/reset/">Reset account</a>
  </div>
</div>
{% if stocks %}
<form action="/sell/" method="POST">
{% csrf_token %}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>Select</th>
        <th>Stock</th>
        <th>Quantity</th>
      </tr>
      {% for stock in stocks %}
      <tr>
        <td>
          <input type="radio" name="stock" value="{{ stock.name }}">
        </td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.quantity }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" id="quantity" class="form-control" name="quantity">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button type="submit" class="btn btn-danger">Sell</button>
  </div>
</div>
</form>
{% else %}
No stocks owned
{% endif %}
